<h1>Editing article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :synopsis %><br />
    <%= f.text_area :synopsis %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, 
          Category.find(:all), :id, :name, :include_blank => true %>
  </p>
  <p>Published? <%= f.check_box :published %></p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>