<h1>New topic</h1>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>

  <p>
  	<p>Subject:<br />
	  <%= f.text_field :name -%>
	</p>
    <p>First Post:<br />
	  <%= text_area :post, :body -%>
	</p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', topics_path %>